// Mixins Here
.flex-me(@direction: row; @justify: space-between){
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
}

.button-med(@col:@porcelain; @bg-col: @nav-bg) {
    color: @col;
    background-color: @bg-col;
    padding: @padding-sm+4px 0;
    text-align: center;
    font-size: 1.8rem;
    width: 100px;
}