// Navigation code here
header.nav {
    background-color: @nav-bg;
    padding-top: 10px;
    .flex-me(column,);
    align-items: center;
    border-bottom: 1px solid @nav-border;
    nav {
        width:29%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 10px; 
        .flex-me();
        a {
            font-size: 1.6rem;
            text-decoration: none;
            color: @nav-font;
        }
    }
}